
.label{
    font-size:16px;
    color:rgb(46, 46, 46);
}
.input,.normal_input{
    padding:10px 14px;
    color:rgb(65, 65, 65);
    background-color: rgb(206, 206, 206);
    outline: none;
    border:1px solid rgba(255, 255, 255, 0);
    font-size:16px;
    border-bottom: 1px solid rgba(111, 141, 224, 0.404);
    transition:border-bottom 0.1s;
}


.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 4px;
    margin: 6px 0;
}

.flex{
    display: flex;
    gap:10px;    
}

.button_collector{
    display: flex;
    gap:10px;
}

.button_collector >*{
    background-color: white;
    outline: none;
    border: 0;
    font-size: 20px;
    opacity: 0.75;
    cursor: pointer;
}

.button_collector >*:hover{
    opacity: 1;
}

